.rl{
    margin-left: 20px;
    margin-right: 4px;
}
.text-avatar{
    width: 33px;
    height: 33px;
    background-color: #419488;
    display: inline-block;
    border-radius: 50%;
    text-align: center;
    line-height: 33px;
    font-size: 20px;
    vertical-align: middle;
    margin-right: 5px;
    color: #fff;
  
}
.moreb{
    height: 60px;
    text-align: center;
    line-height: 60px;
}
iframe{
    width: 100%;
    height: 100%;
    background-color: rgb(242, 243, 245);
}